.Page {
  display: flex;
  padding: 0 16px;
  margin-bottom: 100px;
  gap: 50px;

  .Content {
    min-height: 100vh;
    padding: 16px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .Post {
      width: 100%;
      height: auto;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 8px;
      position: relative;

      button {
        position: absolute;
        height: 30px;
        width: 30px;
        right: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    button {
      width: 200px;
    }
  }
}

.Modal {
  h3 {
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
