.Page {
  display: flex;
  padding: 0 16px;
  margin-bottom: 100px;
  gap: 50px;

  .Content {
    min-height: 100vh;
    padding: 16px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
