.main-container__content .block {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  display: flex;
  justify-content: space-between;

  .card {
    height: 85px;
    width: 237px;
    border-radius: 12px;
    border: 1px solid #e6e9ee;
    padding: 13px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__number {
      p {
        &:nth-child(1) {
          font-size: 16px;
          color: #afafaf;
        }

        &:nth-child(2) {
          font-size: 20px;
          color: #15223c;
          font-weight: bold;
        }
      }
    }

    &__proc {
      p {
        font-size: 14px;
      }
    }
  }
}
