@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;

  &-container {
    padding: 50px;
    height: 100%;
    display: flex;
    gap: 55px;

    &__sidebar {
      width: 337px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 55px;

      .card {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        h1 {
          font-size: 22px;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .balance {
        height: auto;
        border-radius: 20px;
        border: 1px solid #e6e9ee;
        display: flex;
        flex-direction: column;
        padding: 25px;

        &__balance {
          p {
            font-size: 16px;
            color: #afafaf;
          }

          &-price {
            display: flex;
            gap: 23px;

            p {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 19px;
              color: black;
              display: flex;
              gap: 5px;
              font-weight: bold;

              &:nth-child(2) {
                color: #2dd683;
              }

              &:nth-child(3) {
                color: #e74a51;
              }
            }
          }
        }

        &__currency {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;

          &-currency,
          &-status {
            p {
              &:nth-child(1) {
                color: #afafaf;
              }

              &:nth-child(2) {
                color: black;
                font-weight: bold;
              }
            }
          }
        }
      }

      .add_card {
        button {
          border-radius: 15px;
          height: 54px;
          width: 100%;
          background-color: #f5f6fa;
          border: none;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: #e3f6fe;
            color: #00b3ff;
          }
        }
      }

      .transfer {
        h1 {
          font-size: 22px;
          margin-bottom: 25px;
        }

        &__users {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          button {
            background-color: #d9d9d9;
            height: 42px;
            width: 42px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              height: 15px;
              width: 15px;
            }

            &:nth-child(6) {
              background: none;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        &__input {
          display: flex;
          flex-direction: column;

          p {
            font-size: 16px;
            color: #afafaf;
            margin-bottom: 12px;
          }

          input {
            height: 43px;
            border-radius: 8px;
            border: 1px solid #00b3ff;
            text-indent: 16px;
            font-size: 18px;
            margin-bottom: 20px;
          }
        }

        &__send {
          display: flex;
          gap: 13px;

          button {
            height: 48px;
            border-radius: 12px;
            font-size: 16px;
            width: 100%;
            background-color: #00b3ff;
            color: white;
            border: none;
            margin-bottom: 40px;
            cursor: pointer;

            &:nth-child(2) {
              background-color: #f5f6fa;
              color: black;
              transition: 0.2s;

              &:hover {
                background-color: #e3f6fe;
                color: #00b3ff;
              }
            }
          }
        }
      }
    }

    &__content {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 25px;

      .expenses,
      .chart,
      .saving,
      .transactions {
        padding: 25px;

        h1 {
          font-size: 22px;
        }
      }
    }
  }
}
