.Page {
  display: flex;
  gap: 60px;
  padding: 0 16px;

  .Content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px); 
    gap: 25px;
    grid-auto-rows: auto;
    width: 100%;
    height: fit-content;
  }
}
