.Primary,
.Secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #00b3ff;
  color: white;
  cursor: pointer;
  transition: 0.15s ease;
  border: none;

  &:hover {
    background-color: white;
    color: #00b3ff;
  }
}

.Secondary {
  background-color: #f5f5f5;
  color: black;
  border: none;

  &:hover {
    background-color: black;
    color: #fff;
  }
}

.rotate {
  @keyframes rotate {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 90deg;
    }
  }
  animation: rotate 1s ease-out infinite;
}
