.Expenses {
  grid-column-end: span 2;
  border: 1px solid #e6e9ee;
  border-radius: 12px;
  padding: 16px;
  height: fit-content;

  .Title {
    display: flex;
    justify-content: space-between;
  }
}

.Price {
  display: flex;
  justify-content: space-between;

  .Title {
    color: #afafaf;
    font-size: 16px;
  }

  .Number {
    font-size: 20px;
    font-weight: bold;
  }
}
