.main-container__content .transactions {
  border: 1px solid #e6e9ee;
  border-radius: 12px;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 10;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    h1 {
      font-size: 22px;
    }

    button {
      font-size: 16px;
      color: #00b3ff;
      background-color: white;
      border: none;
      cursor: pointer;
    }
  }

  &-view {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-info {
      display: flex;
      gap: 14px;

      &-image {
        height: 54px;
        width: 54px;
      }

      &-title {
        display: flex;
        flex-direction: column;

        p {
          font-size: clamp(13px, 1vw, 16px);

          &:nth-child(1) {
            font-weight: bold;
          }
        }
      }

      &-value {
        &-plus {
          color: #41da90;
        }

        &-minus {
          color: #e74a51;
        }
      }
    }
  }

  @media (max-width: 1350px) {
    grid-row-start: 8;
    grid-row-end: 9;
  }

  @media (max-width: 1100px) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 10;
  }
}

.ant-modal-content {
  display: flex;
  flex-direction: column;

  .ant-modal-body {
    .transactions-view {
      display: flex;
      flex-direction: column;
      gap: 14px;

      .card {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-info {
          display: flex;
          gap: 14px;

          &-image {
            height: 54px;
            width: 54px;
          }

          &-title {
            display: flex;
            flex-direction: column;

            p {
              font-size: 16px;

              &:nth-child(1) {
                font-weight: bold;
              }
            }
          }

          &-value {
            &-plus {
              color: #41da90;
            }

            &-minus {
              color: #e74a51;
            }
          }
        }
      }
    }
  }
}
