.Block {
  grid-column-end: span 4;
  grid-row-end: 1;
  display: flex;
  gap: 25px;
  height: fit-content;
  font-size: 14px;
}

.Card {
  height: 85px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #e6e9ee;
  padding: 13px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
}

.Card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Number {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Proc {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.Plus,
.Minus {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
}

.Plus {
  color: #41da90;
  background-color: #d8ffec;
}

.Minus {
  color: #e74a51;
  background-color: #fad5d7;
}
