.Chart {
  grid-column-end: span 3;
  grid-row-end: span 4;
  border: 1px solid #e6e9ee;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  .Title {
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;
    }

    .Actions {
      display: flex;
      gap: 10px;
    }
  }

  .Line {
    height: 100%;
    max-height: 450px;
  }
}
