.Chart {
  grid-column-end: span 3;
  grid-row-end: span 4;
  border: 1px solid #e6e9ee;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  .Title {
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;
    }

    .Actions {
      display: flex;
      gap: 10px;

      select {
        padding: 8px;
        border: none;
        background-color: #f5f5f5;
        border-radius: 5px;
        outline: none;
      }
    }
  }

  .Line {
    height: 100%;
    max-height: 450px;
  }
}

.Choose {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;

  select {
    padding: 8px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    outline: none;
  }

  input {
    padding: 8px;
    text-indent: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
