.Textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100%;

  textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
