@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;

  &-container {
    padding: 50px;
    height: 100%;
    display: flex;
    gap: 55px;

    &__content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 25px;

      .expenses,
      .chart,
      .saving,
      .transactions {
        padding: 25px;

        h1 {
          font-size: 22px;
        }
      }
    }
  }
}

.ant-modal-content {
  display: flex;
  flex-direction: column;

  .ant-modal-body {
    display: flex;

    .qrcode {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        a {
          font-weight: bold;
        }
      }
    }
  }
}
