.Page {
  width: 100%;
  display: flex;
  padding: 16px;

  .Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 16px;
    grid-auto-rows: auto;
    width: 100%;
  }
}
