.Content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;

  .expenses,
  .chart,
  .saving,
  .transactions {
    padding: 25px;

    h1 {
      font-size: 22px;
    }
  }
}
