.Sidebar {
  width: 337px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  .Avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 50%;
      width: 50%;
    }
  }

  .Actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  button {
    width: 100%;
  }
}
